p {
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: 0;
}
p + p {
  text-indent: 2em;
  margin-top: 0;
}
h1 {
  @include heading-font;
	font-size: 1.5em;
	line-height: 1.5em + 0.2em;
	font-weight: bold;
	margin: 0;
	padding: 1.45833em 0;
} 
h2 {
  @include heading-font;
	font-size: 1.33333em;
	line-height: 1.33333em + 0.2em;
	font-weight: bold;
	margin: 0;
	padding: 1.25em 0; 
}
h3 {
  @include heading-font;
	font-size: 1.16667em;
	line-height: 1.16667em + 0.2em;
	font-weight: bold;
	margin: 0;
	padding: 1.51786em 0;
}
h4 {
  @include heading-font;
	font-size: 1.1em;
	line-height: 1.1em + 0.2em;
	font-weight: bold;
	margin: 0;
	padding: 1.21786em 0;
}

#content {
  ul {
    list-style-type: disc;
  	margin: 20px 0 20px 40px;
  	li {
    	line-height: 2em;
    	text-indent: 0.5em;
    }
  }
  ol {
    list-style-type: decimal;
    margin: 20px 0 20px 40px;
    li {
    	line-height: 2em;
    	text-indent: 0.5em;
    }
  }
}